			body {
				background-color: #F0E0BF;
				display: flex;
                flex-flow: row wrap;
			}

			header {
				order: 1;
                flex-direction: row;
                width: 100%;
                text-align: center;
                padding: 10px 0;
			}

			header h1 {
				margin: 0em;
			}

			nav {
				order: 2;
                width: 100%;
				display: flex;
				flex-direction: column;
			}

            nav ul {
				display: flex;
				flex-direction: column;
				list-style: none;
				padding: 0;
				margin: 0;
			}

			nav ul li {
                margin: .2em;
                flex-grow: 1;
			}

            nav a:hover{
                background-color: #d2be94;
            }

			nav a {
				display: block;
				padding: 1.5em;
				text-decoration: none;
				color: white;
				background-color: #A38D5E;
				text-align: center;
                font-size: 25px;
                font-weight: bold;

			}

            #contentForm {
                    width: 100%
                }

            nav input {
                    font-size: 2em;
                    margin: .2em 0;
				    padding: .2em;
				    border: 1px solid black;
                    width: 97%;
                }

			main {
                order: 3;
                padding: 0 1em;
				background-color: #E2D5B3;
			}

			aside {
				order: 5;
				background-color: #fff;
                padding: 0 1em;
			}

			footer {
				order: 99;
				background-color: #ddd;
				padding: .2em;
			}

            img {
                width: 100%;
                height: auto;
            }
			
            @media screen and (min-width: 50em) {
				body {
					max-width: 70em;
					margin: 0 auto;
					flex-direction: row;
					flex-wrap: wrap;
				}

				nav {
					width: 100%;
					display: flex;
					flex-direction: row;
				}

				nav ul {
                    flex-direction: row;
					flex-grow: 1;
				}

				nav form {
					flex-grow: 0;
				}

                nav ul li:first-child {
					margin: .2em .2em 0 0;
				}

                nav a {
                    font-size: 18px;
                }

                nav input {
				    font-size: initial;
			    }

				main {
                    flex: 1 0px;
                    padding: .2em 2em
				}

				aside {
                    padding: 0 1.5em;
                    flex: 1 0px;
				}

				footer {
				}
			}